.register-form {
    max-width: 250px;
    margin: 50px auto;
}

.search-form {
    max-width: 300px;
    margin-left: 80%;
    margin-top: 10px;
    display: flex;
}

.search-form Button {
    margin-left:10px;
    height: 38px;
}